.gamecontainer__holder {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9;
  pointer-events: none;
}

.ui__holder__deactive {
  margin-top: 10%;
  transition: margin-top .8s cubic-bezier(.75,-0.5,0,1.4);
}

.ui__holder__active {
  margin-top: 0%;
  transition: margin-top .8s cubic-bezier(.75,-0.5,0,1.4);
}
