.home__holder {
  height: 100%;
}

.home__overlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 10;

  h1 {
    font-weight: $bold;
    color: $mainText;
    font-size: $title-font-size;
    text-shadow:
      2px 1px 1px #FFA856,
      0px -1px 2px rgba(240, 97, 139,.5),
      -2px 0px 1px #CB2354;
    transition: text-shadow .1s;
  }

  .text__holder {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
  }
}

.home__grid {
  display: grid;
  grid-template-rows: 50% auto;
  height: 100%;
  padding: 0 10% 0 15%;
}

//MEDIA QUERY
@media (max-width: 768px) {
  .home__overlay {
    h1 {
      font-size: 4.5em;
    }

    .input {
      font-size: 4.5em;
    }
  }
}
