.name__holder {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;

  & .input {
    font-size: 9em;
    text-align: center;
  }

  &__active {
    width: 100vw;
    background: linear-gradient(180deg, $secondaryColorAlpha, $primaryColorAlpha, rgba(0,0,0,0));
    background-size: 400% 400%;
    opacity: 1;
  }

  &__deactive {
    width: 100vw;
    opacity: 0;
    transition: opacity 1.8s ease;
    background: linear-gradient(180deg, $secondaryColorAlpha, $primaryColorAlpha, rgba(0,0,0,0));
    background-size: 400% 400%;

    -webkit-animation: AnimationName 1.8s ease;
    -moz-animation: AnimationName 1.8s ease;
    animation: AnimationName 1.8s ease;

    @-webkit-keyframes AnimationName {
        0%{background-position:30% 0%}
        50%{background-position:40% 70%}
        100%{background-position:70% 100%}
    }
  }
}

//MEDIA QUERY
@media (max-width: 768px) {
  .name__holder .input {
    font-size: 2em;
  }
}
