.chatlog__holder {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left 100%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

  & p {
    color: #FFF;
    text-shadow: $text-shadow;
    font-size: 1.2em;
  }
}

.chatlog__playercontent {
  margin-left: 4px;
}
