.play__holder {
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
}

.chatbox__holder {
  height: 40%;
  width: 40%;
  margin: 0;
  pointer-events: none;
  display: grid;
  grid-template-rows: auto 5% 20%;
  background-position: 100% 0%;
}

.absolutecentertext__holder {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  opacity: 1;

  div {
    pointer-events: auto;
  }

  h1 {
    pointer-events: auto;
    font-size: 6em;
  }

  &__hidden {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1.8s ease;

    h1 {
      font-size: 6em;
    }
  }
}

//MEDIA QUERY
@media (max-width: 768px) {
  .chatbox__holder {
    height: 40%;
    width: 100%;
  }
}
