.playcontainer__holder {
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
}

.chatbox__holder {
  height: 40%;
  width: 40%;
  margin: 0;
  pointer-events: auto;
  display: grid;
  grid-template-rows: 10% auto 5% 20%;
  background-image: url("../img/Feather-01.png");
  background-position: 100% 0%;
}

//MEDIA QUERY
@media (max-width: 768px) {
  .chatbox__holder {
    height: 40%;
    width: 70%;
  }
}
