.button__one {
  text-shadow: none !important;
  position: relative;
  z-index: 1;

  &__active {
    color: #FFF;

    &:hover{
      cursor: pointer;
      background: linear-gradient(to right, #FFF 10%, #FFF 50%, #CB2354 80%, #FFF 100%);
      background-size: 200%;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      animation: shine 1.1s ease;
      @keyframes shine {
        to {
          background-position: 200%;
        }
      }
    }

    &:active:after{
      text-shadow:
        0px 0px 0px #FFA856,
        0px 0px 0px rgba(240, 97, 139,.5),
        0px 0px 0px #CB2354 !important;
      transition: text-shadow .05s !important;
    }

    &:hover:after{
      cursor: pointer;
      text-shadow:
        6px 3px 1px #FFA856,
        0px -1px 2px rgba(240, 97, 139,.5),
        -6px -3px 1px #CB2354;
      transition: text-shadow .1s;
    }

    &:after{
      content: attr(value);
      text-shadow: $text-shadow;
      transition: text-shadow .1s;
      transform: translate(-100%);
      position: absolute;
      z-index: -1;
    }
  }

  &__deactive {
    color: $geocoderAlpha;
    &:hover{
      cursor: default;
    }
  }
}
