//Font Weights
$light: 200;
$regular: 400;
$bold: 700;

//Base Font
$base-font-family: 'Assistant', sans-serif;
$base-font-size: 1em;

//Special Font
$title-font-size: 5em;
$title-font-weight: $bold;
