.input__titlescreen {
  padding: none;
  background-color: rgba(0,0,0,0);
  outline: none;
  border: none;
  display: inline;
  margin-bottom: 30px;
  font-family: $base-font-family;
  font-weight: $bold;
  color: $mainText;
  font-size: $title-font-size;
}
