.input__large {
  background-color: rgba(0,0,0,0);
  outline: none;
  border: none;
  display: block;
  padding: 0px;
  width: 100%;
  font-family: $base-font-family;
  font-weight: $bold;
  color: $mainText;
  font-size: $title-font-size;
  text-shadow:
    2px 1px 1px #FFA856,
    0px -1px 2px rgba(240, 97, 139,.5),
    -2px 0px 1px #CB2354;

  &::placeholder {
    color: rgba(255,255,255,.4);
    text-shadow: none;
    transition: all .1s;
  }

  &:hover::placeholder, &:focus::placeholder{
    color: rgba(255,255,255,1);
    text-shadow:
      2px 1px 1px #FFA856,
      0px -1px 2px rgba(240, 97, 139,.5),
      -2px 0px 1px #CB2354;
    transition: all .3s;
  }


}

//MEDIA QUERY
@media (max-width: 768px) {
  .input__large {
    font-size: 4.5em;
  }
}
