.input {
  background-color: rgba(0,0,0,0);
  outline: none;
  border: none;
  display: block;
  padding: 0px;
  width: 100%;
  font-family: $base-font-family;
  font-weight: $bold;
  color: $mainText;
  font-size: $title-font-size;
  text-shadow:
    2px 1px 1px #FFA856,
    0px -1px 2px rgba(240, 97, 139,.5),
    -2px 0px 1px #CB2354;

  &::placeholder {
    color: rgba(255,255,255,.2);
    text-shadow: none;
    transition: all .1s;
  }

  &:hover::placeholder, &:focus::placeholder{
    color: rgba(255,255,255,.6);
    text-shadow: none;
    transition: all .3s;
  }
}

.input__visible {
  background-color: rgba(33,33,33,.2);
}

.input__deactive {
  background-color: rgba(33,33,33,.05);
}

.input__medium {
  font-size: $medium-font-size;
}
